.product_sizes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
}

.product_size {
  padding: 1.4vmax;
  font-size: 1.6vmax;
  color: var(--color-eerie-black);
  background-color: var(--color-antiflash-white);
  border: 1px solid var(--color-sonic-silver);
  text-align: center;
  border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 960px) {
  .product_size {
    font-size: 2vmax;
  }
}
