.cart_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-eerie-black-transparent);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out 0.6s;
  overflow-x: hidden; /* prevents the horizontal scrollbar from appearing during the transition */
  overflow-y: auto; /* allow vertical scrolling to scroll through the cart items */
  z-index: 4; /* to hide the burger menu icon when cart is open */
}

.cart {
  position: fixed;
  right: 0;
  padding: 2rem;
  width: 40%;
  min-height: 100vh;
  background-color: var(--color-antiflash-white);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out 0.3s;
}

.cart_container.active {
  transform: translateX(0%);
  transition: transform 0.4s ease-in-out 0.3s;
}

.cart.active {
  transform: translateX(0%);
  transition: transform 0.4s ease-in-out 0.6s;
}

.close_cart_btn_container {
  display: flex;
  justify-content: flex-end;
}

.close_cart_btn {
  padding: 8px;
  background-color: var(--color-antiflash-white);
  border: none;
  outline: none;
  cursor: pointer;
}

.item_container {
  margin-top: 2rem;
  display: grid;
  place-content: center;
  gap: 2rem;
}

.empty_cart_message {
  font-size: 1.6vmax;
}

.total_price {
  font-size: 1.8vmax;
}

@media screen and (max-width: 768px) {
  .cart {
    width: 100%;
    z-index: 4;
  }

  .empty_cart_message {
    font-size: 2.6vmax;
  }

  .total_price {
    font-size: 2.8vmax;
  }
}
