.cart_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.768);
  overflow: auto;
}

.cart {
  position: absolute;
  right: 0;
  padding: 2rem;
  width: 40%;
  min-height: 100vh;
  background-color: #fff;
}

.close_cart_btn_container {
  display: flex;
  justify-content: flex-end;
}

.close_cart_btn {
  padding: 8px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.item_container {
  margin-top: 2rem;
  display: grid;
  place-content: center;
  gap: 2rem;
}

.empty_cart_message {
  font-size: 1.6vmax;
}

.total_price {
  font-size: 1.8vmax;
}

@media screen and (max-width: 768px) {
  .cart {
    width: 100%;
    z-index: 4;
  }

  .empty_cart_message {
    font-size: 2.6vmax;
  }

  .total_price {
    font-size: 2.4vmax;
  }
}
