.product_card {
  margin: 1vmax 0;
  font-size: 1.4vmax;
  transition: transform 0.2s ease-in-out;
}

.product_card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.product_img {
  width: 100%;
}

.product_info {
  padding-top: 1vmin;
  display: flex;
  justify-content: space-between;
}

.product_colour_count {
  margin-top: 1vmin;
  color: #757575;
}
